
<%= render 'books/list', user: @user, book: @book %>


<h1>Books</h1>

<h5>Title</h5>
<h5>Opinion</h5>

<% @books.each do |book| %>

  <%= link_to user_path(@book.user.id) do %>
    <%= image_tag @book.user.get_profile_image(100,100) %><br />
    <%= @book.user.name %>
  <% end %>

  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>

<% end %>
