<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/451923700e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="d-flex flex-column vh-100">
    <header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><h3>Bookers</h3></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav ml-auto">

          <% if user_signed_in? %>
            <a class="col nav-link text-light px-1 py-1">
            <%= link_to user_path(current_user.id) do %>
              <i class="fa-solid fa-house"></i><h8>Home</h8>
            <% end %>
            </a>
            <a class="col nav-link text-light px-1 py-1">
            <%= link_to users_path do %>
              <i class="fa-solid fa-users"></i><h8>Users</h8>
            <% end %>
            </a>
            <a class="col nav-link text-light px-1 py-1">
            <%= link_to books_path do %>
              <i class="fa-solid fa-book-open"></i><h8>Books</h8>
            <% end %>
            </a>
            <a class="col nav-link text-light px-1 py-1">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"></i><h8>Log out</h8>
            <% end %>
            </a>
          <% else %>
            <a class="row nav-link text-light px-1 py-1">
            <%= link_to root_path do %>
              <i class="fa-solid fa-house"></i><h8>Home</h8>
            <% end %>
            </a>
            <a class="row nav-link text-light px-1 py-1">
            <%= link_to about_path do %>
              <i class="fa-solid fa-link"></i><h8>About</h8>
            <% end %>
            </a>
            <a class="row nav-link text-light px-1 py-1">
            <%= new_user_registration_path do %>
              <i class="fa-solid fa-user-plus"></i><h8>Sign up</h8>
            <% end %>
            </a>
            <a class="row nav-link text-light px-1 py-1">
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-right-to-bracket"></i><h8>Log in</h8>
            <% end %>
            </a>
          <% end %>

          </div>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">

    <%= yield %>
    </main>

    <footer class="bg-white text-dark pt-5 pb-4">
      <div class="container">
        <div class="row  justify-content-center">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
